.loadingtext{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}
  
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000A;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.loading_move {
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: .7;
}

@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }